/* html elements css */

body {
	font-family: 'Lucida Grande', sans-serif;
    line-height: 32px;
}

h1 {
	color: #666;
    font-size: 48px;
    margin-top: 44px;
}

h2 {
	color: #f07c17;
    font-size: 28px;
    margin-bottom: 30px;
}

p {
    font-size: 16px;
}

li {
    font-size: 16px;
}

/* classes for left and right columns */
.left-col {
    margin-top: 22px;
}

/* not needed yet, for future use */
.right-col {

}

/* class used adjust the "Main Features" list box */ 
.features-list {
    line-height: 2.0;
    border: 1px #ccc solid;
    margin: 30px 0 0;
    padding: 8px 10px 26px 30px;
}